<div class="main-body">
  <h2 class="align-center">Dynamic Form</h2>
  <hr>
  <div class="navigator">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button style="width: 200px;" [ngClass]="{'selected': currentView == 'New'}" type="button" class="btn btn-secondary" (click)="changeView('New')">New</button>
      <button style="width: 200px;" [ngClass]="{'selected': currentView == 'View'}" type="button" class="btn btn-secondary" (click)="changeView('View')">View</button>
      <button style="width: 200px;" [ngClass]="{'selected': currentView == 'Edit'}" type="button" class="btn btn-secondary" (click)="changeView('Edit')">Edit</button>
    </div>
  </div>
  <hr>
  <br>
  <div class="form-area">
    <!-- <app-json-form [jsonFormData]="jsonForm" (getDependentFormFiels)="getDependentOptions($event)"></app-json-form> -->
    <app-json-form [jsonFormData]="jsonForm" [currentView]="currentView" [dataToPopulate]="dataToPopulate" (savedData)="callSaveData($event)"></app-json-form>
  </div>
</div>